<div class="navbar navbar-dark bg-dark">
    <div class="container">
      <a href="{{ url_for('index') }}" class="navbar-brand d-flex align-items-center" id="homeTenderDocsMenuButton">
        <strong>Recommender System</strong>
      </a>
      <a href="{{ url_for('root') }}" class="navbar-brand d-flex ">Twitter</a>
    <div class="content flex">
      <div class="right">
        <button type="button" class="btn btn-outline-info">Analyse</button>
      </div>
    </div>
  </div>
</div>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Holla Recommender System</h1>
    <h3 class="jumbotron-heading">Using sentimental analysis to recommend content.</h3>
   </div>
</section>