{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">

        <form method="post" class="form" id="pasteForm">
        	<label for="post">Paste content to analyse it</label>
	        <textarea class="form-control" rows="6" cols="600" name="text" form="pasteForm" required="" ></textarea><br><br>

	        <button class="btn btn-primary">Text Analysis</button>
	    </form>
        
	    {% if result %}

	    <div>
	        <h2 style="text-decoration-color: blue;">Analysis: </h2> <br>
	        '<h2>{{ text }}</h2>' 
	        <h2> Positivity: {{result}}%</h2>
	        {% else %}
	        <p></p>
	        {{result}} Recommendation: The text is neutral, 
	        Content is good for all ages. Holla, We care about content you feed on!
        
        {% endif %}

        {% if result %}
        {% if result %}

        {% if result < 0.4 %}
        Recommendation: bad
        {%endif%}

        {% endif %}
        {% endif %}
	    
	    </div>
	    	
	    <span>&copy; Holla</span>
        
        </div>
    </div>

{% endblock %}